#aboutMe main .bloc_languageWeb {
  margin-bottom: 3rem;
  .languageWeb {
    margin-top: 2rem;
    padding: 20px;
    text-align: center;

    /* Composant du slider "slick" */
    .slick-initialized .slick-list .slick-track .iconSlider{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .textHidden {
      visibility: hidden;
      font-family: var(--font-title);
      color: var(--color-red);
      font-size: 130%;
      border-radius: 6px;
      padding: 5px 0;
    }
    &:hover .textHidden {
      visibility: visible;
    }

    div:nth-child(1n + 1) {
      margin-top: 5px;
      border-radius: 25%;
      cursor: help;
    }
  }
}

.bloc_imgDescription {
  display: flex;
  justify-content: center;
  align-items: center;

  div:nth-child(1) {
    position: relative;
    width: 125px;
    min-width: 100px;
    height: 150px;
    min-height: 125px;
    margin-left: 18px;
    border-radius: 10%;
    box-shadow: 0 8px 32px 0 rgba(85, 107, 206, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.096);
    img {
      position: absolute;
      width: 12rem;
      margin-bottom: 2rem;
      top: -40px;
      left: -45px;
    }

    .h3_OnlyResponsive {
      visibility: hidden;
    }
  }

  div:nth-child(2) {
    h3 {
      text-align: center;
      position: relative;
      margin-left: 3rem;
      font-family: var(--font-title);
      color: var(--color-purple);
      width: 180px;
      padding: 10px;
      border-radius: 10%;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 8px 32px 0 rgba(85, 107, 206, 0.05);
      &::after {
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 10px solid transparent;
        border-top: 40px solid rgba(0, 0, 0, 0.2);
        content: '';
        transform: rotate(70deg);
        left: -24px;
        bottom: -5px;
      }
    }
    .text {
      text-align: justify;
      margin: 30px;
      font-size: 22px;
    }
  }
}

.bloc_skillsWeb {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;

  div:nth-child(1n + 1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-title);
    margin: 10px;
    h2 {
      color: var(--color-purple);
      font-size: 30px;
    }
    p {
      text-align: center;
      font-size: 25px;
      font-weight: normal;
    }
  }
}

//? Entre 580px.▲ & 760px.▼
@media screen and (min-width: 580px) and (max-width: 760px) {
  #aboutMe main {
    .bloc_imgDescription {
      div:nth-child(1) {
        top: -50px;
      }
      div:nth-child(2) {
        .text {
          font-size: 19px;
        }
      }
    }

    .bloc_skillsWeb {
      margin-top: 2rem;
      div:nth-child(1n + 1) {
        h2 {
          font-size: 21px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}


//! à partir de 580px.▼ (Phone)
@media screen and (max-width: 580px) {
  #aboutMe main {
    .bloc_languageWeb {
      margin-bottom: 2.5rem;
      .languageWeb {
        margin: 20px;
        padding: 0px;
      }
    }

    .bloc_imgDescription {
      display: block;
      div:nth-child(1) {
        position: relative;
        text-align: center;
        float: left;
        width: 100px;
        height: 125px;

        img {
          position: absolute;
          width: 10rem;
          top: -34px;
          left: -40px;
        }

        .h3_OnlyResponsive {
          position: relative;
          visibility: visible;
          margin-left: 8.5rem;
          font-family: var(--font-title);
          color: var(--color-purple);
          width: 180px;
          padding: 10px;
          border-radius: 10%;
          background: rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 32px 0 rgba(85, 107, 206, 0.05);
          &::after {
            position: absolute;
            border-left: 5px solid transparent;
            border-right: 10px solid transparent;
            border-top: 40px solid rgba(0, 0, 0, 0.2);
            content: '';
            transform: rotate(70deg);
            left: -24px;
            bottom: -5px;
          }
        }
      }

      div:nth-child(2) {
        h3 {
          display: none;
        }
        .text {
          margin: 15px;
          padding-top: 70px;
          font-size: 16px;
        }
      }
    }

    .bloc_skillsWeb {
      margin-top: 2rem;
      div:nth-child(1n + 1) {
        h2 {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

