.bloc_title {
  h1 {
    display: flex;
    justify-content: center;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
    &:hover {
      /*------▼ Animation ▼------*/
      background: linear-gradient(45deg, #556bce, #181a1b, #94273c);
      background-size: 600% 600%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: GradientBackground 10s ease infinite;
      @keyframes GradientBackground {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      /*------▲ Animation ▲------*/
    }
  }

  h4 {
    display: flex;
    justify-content: center;
  }
}
